// Moved font links to <head>!

@import "variables.scss";

body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6, #menu {
    font-family: "Fira Sans", sans-serif;
}

.cursive {
    font-family: "Pacifico", cursive;
    font-weight: 300;
}

code {
    font-family: "Fira Mono", monospace;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}

a {
    text-decoration: none;
}

main a, .light .underline {
    box-shadow: inset 0 -0.2em $lightblue;
}

.dark .underline {
    box-shadow: inset 0 -0.2em $blue;
}

p {
    font-style: normal;
    font-size: 16px;
}