@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Fira+Sans&family=Playfair+Display&family=Montserrat&display=swap");

@font-face {
    font-family: 'Hack';
    src: url('fonts/hack-regular-subset.woff2?sha=3114f1256') format('woff2'), url('fonts/hack-regular-subset.woff?sha=3114f1256') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hack';
    src: url('fonts/hack-bold-subset.woff2?sha=3114f1256') format('woff2'), url('fonts/hack-bold-subset.woff?sha=3114f1256') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hack';
    src: url('fonts/hack-italic-subset.woff2?sha=3114f1256') format('woff2'), url('fonts/hack-italic-webfont.woff?sha=3114f1256') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hack';
    src: url('fonts/hack-bolditalic-subset.woff2?sha=3114f1256') format('woff2'), url('fonts/hack-bolditalic-subset.woff?sha=3114f1256') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Fira Sans", sans-serif;
}

.cursive {
    font-family: "Pacifico", cursive;
    font-weight: 300;
}

code {
    font-family: "Hack", monospace;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
}
