@import "variables.scss";

.dark {
    background: $darkblue;
    * {
        color: $white;
    };
}

.light {
    background: $white;
    * {
        color: $darkblue;
    }
}

a {
    text-decoration: none;
}

menu .active, main a {
    text-decoration: none;
    box-shadow: inset 0 -0.2em $lightblue;
}
