@import "fonts.scss";
@import "header.scss";
@import "home.scss";
@import "global.scss";
@import "variables.scss";

/* 
    ----------------------------
        Base styles / layout
    ----------------------------
*/ 

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    margin: 1rem;
    padding: 1rem;
    flex-basis: 50%;
    .title {
        border-bottom: 10px solid $orange;
    };
    @media screen and (min-width: 768px) {
        .title {
            margin: 3rem 1rem;
        };
        article {
            margin: 2rem 2rem;
        }
    };
    a {
        text-decoration: none;
        box-shadow: inset 0 -0.2em $lightblue;
    };
}

@media only screen and (min-width: 768px) {
    body {
        flex-direction: row; 
    };
}
