<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    {{ $styles := resources.Get "sass/styles.scss" | resources.ToCSS | resources.Minify }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
    {{ $menuToggle := resources.Get "js/nav-menu-toggle.js" }}
    <script src="{{ $menuToggle.RelPermalink }}" async></script>
</head>
<body>
    <header class="dark">
        {{ partial "header.html" . }}
    </header>
    <main class="light">
        {{ block "main" . }}
        {{ end }}
    </main>
    {{ block "scripts" . }}
    {{ end }}
</body>
</html>