<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta name="description" content="{{ .Site.Params.meta.description }}">
    <meta property="og:description" content="{{ .Site.Params.meta.description }}" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    {{ block "meta" . }}
        <meta property="og:type" content="website" />
    {{ end }}
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet preconnect" type="text/css"
        href="https://fonts.googleapis.com/css2?family=Fira+Mono&family=Pacifico&family=Fira+Sans&family=Playfair+Display&family=Montserrat&display=swap">
    {{ $styles := resources.Get "sass/styles.scss" | resources.ToCSS | resources.Minify }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
    {{ $menuToggle := resources.Get "js/nav-menu-toggle.js" | resources.Minify }}
    <script src="{{ $menuToggle.RelPermalink }}" async></script>
</head>
<body>
    <header class="dark">
        {{ partial "header.html" . }}
    </header>
    <main class="light">
        {{ block "main" . }}
        {{ end }}
    </main>
    {{ block "scripts" . }}
    {{ end }}
</body>
</html>