{{ define "meta" }}
    <meta property="og:type" content="article" />
    <meta property="article:author" content="{{ .Site.Author.firstname }} {{ .Site.Author.lastname }}" />
    <meta property="article:section" content="Technology" />
{{ end }}

{{ define "main" }}
    <h1 class="title">{{ .Title }}</h1>
    {{ $Date := .Date.Format "Monday, January 2, 2006" }}
    <time class="post-date" datetime="{{ $Date }}">{{ $Date }}</time>
    <article>
        <p class="summary">{{ .Summary }}</p>
        {{ if .Params.toc }}
            <div class="toc">
                <h2>Contents</h2>
                {{ .TableOfContents }}
            </div>
        {{ end }}
        {{ .Content }}
    </article>
    <hr>
    <div id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
        this.page.url = {{ .Permalink }};
        this.page.identifier = {{ .File.UniqueID }};
        };
        
        (function () {
            var d = document, s = d.createElement('script');
            s.src = 'https://davidkarlsson-tech.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
            Disqus.</a></noscript>
{{ end }}