{{ $CurrentPage := . }}

<a href="{{ .Site.BaseURL }}" {{ if .IsHome }} class="active" {{ end }}>
    <h1 class="cursive">{{ .Site.Author.firstname }} {{ .Site.Author.lastname }}<code>.tech</code></h1>
</a>
<button id="menu-btn">☰</button>
<nav id="menu" class="dark">
    {{/* 
        TODO:
        Add Javascript search
        (When there's content)
        
    <div class="search">
        <input type="search" aria-labelledby="search-button" placeholder="Search...">
        <button id="search-button" type="submit">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="9.5" cy="9.5" r="7.5" stroke="hsl(220, 50%, 20%)" stroke-width="2" />
                <line x1="14.7071" y1="15.2929" x2="21.7071" y2="22.2929" stroke="black" stroke-width="2"
                    stroke-linejoin="round" />
            </svg>
        </button>
    </div>
    */}}
    {{ with .Site.Home }}
        {{ range .Pages }}
            <a href="{{ .RelPermalink }}" {{ if or (.IsAncestor $CurrentPage) (eq . $CurrentPage) }} class="underline"
                {{ end }}>{{ .Title }}</a>
        {{ end }}
    {{ end }}
</nav>